<section fxLayout="column" fxFlexAlign="stretch">
   
    <div class="footer">
        <!-- <img src="assets/img/3.png" style="height: 50px; width:auto; align-self: center;" /> -->
    <!-- <div class="footer" > -->

        <!-- <img src="assets/img/bottom.jpg" /> -->
        <!-- <div style="text-align: center;">
        
      </div> -->
      <hr>
        <table style="margin-top: 20px; width:100%">
            <tr>
                <th></th>
                <th>SERVICE</th>
                <th>QUICK LINKS</th>
            </tr>
            <tr>
                <td rowspan="3"><img src="assets/icons/icon-144x144.png" style="height: 100px; width:100px; " /></td>
                <!-- <td><a href="http://www.imcbusiness.co.in/Web/LoginAssociate" target="_blank">Associate</a></td> -->
                <td></td>
                <td><a routerLink="/home">Home</a></td>
            </tr>
            <tr>
                <td rowspan="2"> <a href="https://wa.me/917048484866" target="_blank"><img
                    src="/assets/img/WhatsApp.png" style="width: 25px; height: 25px;">7048484866</a></td>
                <td><a routerLink="/category">Product</a></td>
            </tr>
            <tr>

                    <td><a routerLink="/contactus">Contact as</a></td>
            </tr>
            <tr>
               
           
        </table>


    </div>
</section>