<section fxLayout="column" fxFlexAlign="stretch">

    <div class="footer" style="background-image: radial-gradient(circle,#7fffd4,#25d078);">
        <!-- <img src="assets/img/3.png" style="height: 50px; width:auto; align-self: center;" /> -->
        <!-- <div class="footer" > -->

        <!-- <img src="assets/img/bottom.jpg" /> -->
        <!-- <div style="text-align: center;">
        
      </div> -->
        <!-- <hr> -->
        <table style="margin-top: 20px; width:100%">
            <tr>
                <th></th>
                <th>SERVICE</th>
                
                <th>QUICK LINKS</th>
            </tr>
           
            <tr>
                <td></td>
                <td rowspan="2">

                    <a href="https://wa.me/917048484866" target="_blank">
                        <img src="/assets/img/WhatsApp.png">
                        <p>7048484866</p>
                    </a></td>
              
            </tr>
            <tr>
                <td rowspan="3">
                    <span>
                        <img src="/assets/img/logo.png" width="150px" height="150px" />
                        </span>
                </td>
                <td><a routerLink="/home">Home</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a routerLink="/contactus">Contact us</a></td>
                
            </tr>



        </table>


    </div>
</section>