section button p{
    text-decoration: none;
    color: white;
    font-size: 1em !important;
       
        text-align: center;
}
 
a:hover, a:active{
    color: black;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}