<app-layout>
  <mat-sidenav-container>
    <app-header></app-header>
    <!--this is a place for us to add side-nav code-->
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <!-- fxHide.xs -->
        <nav mat-tab-nav-bar >
          <a mat-tab-link *ngFor="let item of genders" (click)="gotoGenderof(item)">
            {{item.gender}}
          </a>
        </nav>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>