 /*set the size of the result div:*/
/* .img-zoom-result {
  border: 1px solid #d4d4d4;
 
  width: 410px;
  height: 680px;

} */

/* div div.only-show-on-hover {
  visibility: hidden;
} */
app-zoom:hover div.only-show-on-hover  {
  visibility: visible;
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  /* width: 300px;
  height: 400px; */
}




.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.mydialog {
  width: 65vw;
}

@media screen and (max-width: 40em) {
  .mydialog {
      width: 100%;
  }
}

.ImgPro {
  /* width: 410px; height:680px; */
  width: 290px; height:385px
}

@media screen and (max-width: 40em) {
  .ImgPro {
    width: 290px; height:385px;
  }
}


div p-panel h1{ 
  
  color:black;
  font-size: 15px !important;    
  text-shadow: 1px 2px 4px grey;
 
}
/* div p{
  color:black;
  font-size: 15px !important;    
  text-shadow: 1px 2px 4px grey;
} */

.hidden {
  visibility: hidden;
  display: none;
  }
 .disocuntFont{
  color:red;
 } 