<p-dataView #dv [value]="productList" filterBy="name" layout="grid">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">

                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative;">
                        <input type="search" pInputText placeholder="Search by name"
                            (keyup)="dv.filter($event.target.value)">
                            <!-- <input type="text" icon="fa fa-search" pInputText size="20"
                             placeholder="Global Filter"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" > -->
                    </div>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-product pTemplate="gridItem">
        <div style="padding: .5em; text-align: center;" class="ui-g-12 ui-md-3">
            <p-panel>
                <img [src]="product.mainImage ? product.mainImage : '../../../../assets/img/no_image_available.jpeg'" 
                style="cursor: pointer; width: 200px; height:200px;" class="hide_all" 
                (click)="selectProduct($event, product)">
                <div class="car-detail">
                    <h3>{{product.product_name}} </h3>
                    <h3>Rs. {{product.price}} </h3>
                </div>               
            </p-panel>
        </div>
    </ng-template>
</p-dataView>
<p-dialog header="Product Details" [(visible)]="displayDialog">
    <app-productdetail [selectedProduct]="selectedProduct"></app-productdetail>
</p-dialog>
