
<p-dataView #dv [value]="productList" filterBy="product_name" layout="grid" >
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">

                <div class="p-col-6 p-md-12 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by Product Name"
                            (input)="dv.filter($event.target.value)">
                    </div>
                </div>
            </div>
        </div>
    </p-header>
   
    <ng-template let-product pTemplate="gridItem">
        
        <div style="padding: .5em; text-align: center;" class="ui-g-12 ui-md-12 ui-lg-3">
            <p-panel>
                <img [src]="product.ProURL ? product.ProURL : '../../../../assets/img/no_image_available.jpeg'"
                    style="cursor: pointer; width: 290px; height:385px;" class="hide_all"
                    (click)="selectProduct($event, product)">
                <!-- <div class="car-detail"> -->
                    <h1>{{product.product_name}} </h1>                   
                    <h1>&#8377; {{product.price}} </h1>
                <!-- </div> -->
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Prouct Details" [(visible)]="displayDialog"  [responsive]="true"  
showEffect="fade" [modal]="true" styleClass="mydialog">

    <style>
        p {
            text-decoration: none;
            font-size: 1em;
            /* color: black; */            
            text-shadow: 1px 2px 4px grey;
        }

        h1 {
            text-decoration: none;
            font-size: 1.2em;
            color: red;            
            text-shadow: 1px 2px 4px grey;


        }
    </style>

    <div class="ui-g" *ngIf="selectedProduct  &&  selectedSizes">
       
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-12" style="text-align:center">

                    <img [hidden]="isShow"
                        [src]="selectedchangeProduct ? selectedchangeProduct : selectedProduct.ProURL"
                        style="cursor: -webkit-zoom-in; width: 410px; height:680px;" 
                        (click)=toggleDisplay()>

                       

                        <div  [hidden]="!isShow" class="ui-g-12 ui-md-12 ui-lg-12">
                            <p-carousel [value]="selectedImages"
                             [numVisible]="1" [numScroll]="1"
                                [responsiveOptions]="responsiveOptions" (mouseleave)=toggleDisplay()>
                                <ng-template let-car pTemplate="item">
                                    <div class="p-grid p-nogutter">
                                        <img [src]=car style="width: 410px; height:680px;" 
                                        class="hide_all" />
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                        
                    <!-- <app-zoom [hidden]="!isShow"
                        [img]="selectedchangeProduct ? selectedchangeProduct : selectedProduct.ProdownloadURL"
                        class="hide_all" [zoom]="2" [lenSize]="100" 
                        style="cursor: -webkit-zoom-out" [divZoomed]="divZoomed"
                        (mouseleave)="toggleDisplay()"></app-zoom> -->

                </div>
            </div>

            <!-- <div class="ui-g-12 ui-md-6 ui-lg-6" [hidden]="!isShow">
                <div #divZoomed class="img-zoom-result"></div>
            </div> -->

            <div class="ui-g-12 ui-md-12 ui-lg-6" [hidden]="isShow">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <h1>{{selectedProduct.product_name}}</h1>
                </div>
                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p>Color</p>
                </div>
                <div class="ui-g-9 ui-md-6 ui-lg-9">
                    <p-carousel [value]="selectedImages" [numVisible]="3" [numScroll]="2"
                        [responsiveOptions]="responsiveOptions">
                        <ng-template let-car pTemplate="item">
                            <div class="p-grid p-nogutter">
                                <img [src]=car style="cursor: pointer; width: 80px; height:80px;" class="hide_all"
                                    (mouseover)="onMouseOver($event, car)" />
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>



                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p>Category :</p>
                </div>
                <div class="ui-g-9 ui-md-6 ui-lg-9">
                    <p>{{selectedProduct.name}} </p>
                </div>

                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p>Price :</p>
                </div>
                <div class="ui-g-9 ui-md-6 ui-lg-9">
                    <p>&#8377; {{selectedProduct.price}}</p>
                </div>
                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p>Material :</p>
                </div>
                <div class="ui-g-9 ui-md-6 ui-lg-9">
                    <p>{{selectedProduct.material}}</p>
                </div>
                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p>Size :</p>
                </div>
                <div class="ui-g-9 ui-md-6 ui-lg-9" style="display: flex;">
                    <p *ngFor="let size of selectedSizes" style="margin-left: 5px;">{{size}}</p>
                </div>

               
               
                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p>Share :</p>
                </div>
                <div class="ui-g-9 ui-md-6 ui-lg-9">
                    <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
                        <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-fab shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
                        <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-fab shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
                        <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
                    </button>

                </div>
            </div>
       
    </div>
    <!-- <script>
        // Initiate zoom effect:
        imageZoom("myimage", "myresult");
    </script> -->
</p-dialog>