/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* html, body { margin: 0; height: 100%; } */
body {  font-family: Roboto, "Helvetica Neue", sans-serif; 
      
}

 /* in image slider make responsive sliderr */
  .imgresponsive {
    max-width: 100%;
    height: auto;
  }
/* START FOLLOWING TAG USE FOR DROPZONE */
.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  min-width: 50vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
  }

  .file-label {
      font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
  /* END FOLLOWING TAG USE FOR DROPZONE */

  // ADMIN PANEL HEADING 
h6{   
    
  font-size: 15px;
  color: black;
  font-family: 'Segoe UI';
  text-align: right;    
}
// ADMIN PANEL INPUT TEXT
h5{   
  
  font-size: 13px;
  color: black;
  font-family: 'Segoe UI';
  text-align: left;    
}