<section fxLayout="column" fxFlexAlign="stretch">


    <!--20200312 START LOGIC PORTION FOR IMAGE AND VIDEO SLIDER -->

    <p-carousel [value]="sliders" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
        [autoplayInterval]="6000">

        <ng-template let-car pTemplate="item">
            <div class="car-details">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12 p-md-6 p-lg-3" style="overflow:hidden">
                        <img src="{{car.mainImage}}" class="imgresponsive" *ngIf="car.type === 'image'" />

                        <video autoplay loop *ngIf="car.type !== 'image'" class="imgresponsive">
                            <source src="{{car.mainImage}}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <div fxFlexAlign="center">
        <p>JALIYAN</p>
        <h1 class="subheading">KIDZS WEAR</h1>
    </div>

    <!-- <p>In this application we are going to work with:</p> -->


    <div class="content" fxLayout="row wrap" fxLayoutGap="10px grid" style="padding-bottom: 10px;">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of genders">
           
                <p-card>
                    <p-header>
                        <p>{{item.gender}}</p>
                    </p-header>
                    <div *ngFor="let category of productList">
                    <div *ngIf="item.gender == 'Boy' && category.gender =='Boy'" >                                                    
                            <button pButton type="button" label={{category.name}} class="ui-button-rounded ui-button-danger subheading1"
                     (click)="openProductByCategory(item, category)"></button> <br>                        
                    </div>
                    <div *ngIf="item.gender == 'Girl' && category.gender =='Girl'">
                        <button pButton type="button" label={{category.name}} class="ui-button-rounded ui-button-danger subheading1"
                     (click)="openProductByCategory(item, category)"></button> 
                    </div>
                    <div *ngIf="item.gender == 'Men' && category.gender =='Men'">
                        <button pButton type="button" label={{category.name}} class="ui-button-rounded ui-button-danger subheading1"
                     (click)="openProductByCategory(item, category)"></button> 
                    </div>
                    <div *ngIf="item.gender == 'Women' && category.gender =='Women'">
                        <button pButton type="button" label={{category.name}} class="ui-button-rounded ui-button-danger subheading1"
                     (click)="openProductByCategory(item, category)"></button>  
                    </div> 
                    <div *ngIf="item.gender == 'Born Baby' && category.gender =='Born Baby'">
                        <button pButton type="button" label={{category.name}} class="ui-button-rounded ui-button-danger subheading1"
                        (click)="openProductByCategory(item, category)"></button> 
                    </div> 
                </div>
                </p-card>            
        </div>
    </div>
</section>